version: "3.8"

services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "3000:3000"

  frontend:
    build: ./frontend
    container_name: frontend
    environment:
      - VITE_API_URL=http://backend:3000
    ports:
      - "80:80"
    depends_on:
      - backend
